*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
	width: 86%;
	margin:0 auto;
}
.alpha{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
}
.container-fluid{
	background-image: url(../images/london.jpg);
    background-position: center;
    height: 100vh;
}
.container-fluid .top{
	text-align: right;
	color: white;
	padding: 10px 0;

}
.container-fluid .navbar{
    border-bottom: 2px solid white;
    display: flex;
}
.container-fluid .navbar .logo{
	width: 15%;
	text-transform: uppercase;
	font-family: sans-serif;
}
.container-fluid .navbar .listItems{
    width: 84%;
    display: flex;
    justify-content: flex-end;
}
.container-fluid .navbar .listItems li{
    list-style: none;
}
.container-fluid .navbar .listItems li a{
	color: white;
	text-transform: capitalize;
	padding-right: 15px;
	font-size: 1.2rem;
	text-decoration: none;
}
.container-fluid .navbar .logo,.listItems{
	color: white;
	padding: 20px 0;
	vertical-align: middle;
}
.container-fluid .homeContent{
	color: white;
    padding: 110px 0;
	text-align: center;
	justify-content: space-around;
}
.container-fluid .homeContent h1{
	text-transform: capitalize;
	font-size: 3rem;
    padding-bottom: 100px;
	text-align: center;
	padding-bottom: 30px;
}
.container-fluid .homeContent h1 .homeColorText{
	color: red;
    font-style: italic;
    text-transform: uppercase;
	/* padding-right: 120px; */
	display: flex;
	justify-content: center;
}
.container-fluid .homeContent button{
	background-color:red;
	border: 1px solid white;
	color: white;
	font-size:1.2rem;
	text-transform: capitalize;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: 600;
}
.homeContent .para{
    width: 40%;
    display: flex;
	justify-content: center;
	margin: 0 auto;
    padding-bottom: 30px;
}

/* section 2 start here */

.main{
	padding-top: 7%;
	width: 80%;
	height: 70%;
	padding: 10%;
	/* margin: auto; */
	display: flex;
}
.img{
	padding: 0;
	margin: 0;
	width: 327rem;
	height: 19rem;
}
.context h2{
	text-transform: capitalize;
	padding-bottom: 10px;
}
.content-span{
color: red;
text-transform: capitalize;
}
.fa-facebook{
	font-size: xx-large;
	color: red;
	border-radius: 50%;	
	padding-top: 20px;
	text-decoration: none;
}
.fa-facebook:hover{
	color: blue;
}
.fa-instagram{
	font-size: xx-large;
	color: red;
	border-radius: 50%;
	text-decoration: none;
	margin-left:10px;
}
.fa-instagram:hover{
	color:blue ;
}
.fa-whatsapp{
	font-size: xx-large;
	color: red;
	border-radius: 50%;
	text-decoration: none;
	margin-left:10px;


}
.fa-whatsapp:hover{
	color: blue;
	}
.fa-twitter{
	font-size: xx-large;
	color: red;
	border-radius: 50%;
	text-decoration: none;
	margin-left:10px;


}
.fa-twitter:hover{
	color: rgb(91, 91, 94);
}


/* 3rd section start here */



#services-sec {
	padding: 100px 80px;
	background-color: rgb(221, 221, 221);
}
#services-sec .title-content {
    text-align: center;
    width: 50%;
	margin: 0 auto;
	/* padding-top: 100px; */
	padding-bottom: 50px;
}
#services-sec .box-outer {
    border-radius: 8px;
    border: 2px solid red;
    margin: 15px;
}
.main-outer{
	display: flex;
}

#services-sec .box-outer {
    border-radius: 8px;
    border: 2px solid rgba(102, 102, 102, 0.575);
    margin: 15px;
}
@media(max-width: 992px) {
    #services-sec .box-outer { 
        margin: 15px auto;
    }
}
#services-sec .box-content {
    padding: 30px;
    text-align: center;
}
#services-sec .box-content h3 {
    padding: 10px 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
#services-sec .line {
	width: 15%;
	margin: 10px auto;
    border-width: 1px;
	border-color: red;
}
i{
	font-size: xx-large;
	color: red;
}
/* Side box */
.side-box {
    background-color: red;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 20%;
    right: 0%;
}
@media(max-width: 768px) {
    .side-box {
        display: none;
    }
}

/* 3rd section ends here */

/* 4th section start here */


.container-2{
	width: 100%;
	height: 30vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 0px;
}
.container-2 h2{
	font-size: xx-large;
	text-transform: capitalize;

}
.btn-2{
	padding: 8px 15px;
	/* width: fit-content; */
	margin:5px auto;
	background-color: red;
	color: white;
	border-radius: 3px	;
}

/* section 5th start here */

#client-sec{
	background-color:rgb(221, 221, 221);
}

#client-sec .client{
	text-align: center;
}
#client-sec .client h2{
	text-transform: capitalize;
	font-size: xx-large;
	padding: 100px 0px 30px 0px;
}
#client-sec .client p{
	width: 50%;
	margin: auto;
	padding-bottom: 30px;
}
#client-sec .img-2{
	text-align: center;
	padding-bottom: 20px;
}
#client-sec .img-2 img{
	border-radius: 50%;
}
#client-sec .fa-ring{
	width: 100%;
	text-align: center;
	margin:30px auto;
	color: grey;
}
#client-sec .para-2 p{
	width: 60%;
	text-align: center;
	margin: auto;
	font-family: initial;
	font-size: 20px;
}
#client-sec .name{
	font-weight:lighter;
	text-align: center;
	padding: 30px 0px 100px 0px;
}
#client-sec .name .sub-name{
text-transform: capitalize;
font-weight: bold;
}




#section-work .container-3 .content-3{
	width: 50%;
	margin: 0px auto;
	text-align: center;
	padding-top: 90px;
}
#section-work .container-3 .content-3 h2{
	font-size: xx-large;
	text-transform: capitalize;
}
#section-work .container-3 .work-nav{
	width: 50%;
	margin: 30px auto;
}
#section-work .container-3 .work-nav ul{
	display: flex;
	justify-content: space-evenly;
} 
#section-work .container-3 .work-nav ul li{
	list-style-type: none;
	padding: 10px;
}
#section-work .container-3 .work-nav ul li a{
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20%;

}
#section-work .container-3 .work-nav ul li a:hover{
	color: white;
	background-color: red;
	transition: 0.5s;
}
#section-work .container-3 .img-3 .first-row img{
	border: 1px solid red;
	width: 30%;
	height: 40%;
}
#section-work .container-3 .img-3 .second-row img{
	border: 1px solid red;
	width: 30%;
	height: 40%;
}
#section-work .container-3 .img-3 .first-row{
	display:flex;
}
#section-work .container-3 .img-3 .second-row{
	display:flex;
}


/* section blog starts here */


#blog-sec{
	background-color:rgb(221, 221, 221);
	padding: 100px auto;
}
#blog-sec .container-4 .blog-head {
	padding-top: 100px;
}
#blog-sec .container-4 .blog-head h2{
	text-transform: capitalize;
	font-size: xx-large;
	text-align: center;
	margin: 100px auto 10px auto;
}
#blog-sec .container-4 .blog-head p{
	width: 50%;
	text-align: center;
	margin: 20px auto 60px auto;
}
#blog-sec .container-4 .blog-card{
	padding-bottom: 80px;
	display: flex;
}
#blog-sec .container-4 .blog-card .blog-content img{
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
#blog-sec .container-4 .blog-card .blog-content{
	text-align: center;
	border: 1px black solid;
	margin: 10px auto;
	padding: 10px;
	width: 50%;
}
#blog-sec .container-4 .blog-card .blog-content p{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}


/* contact us section start here */

#contact-us{
	height: 100vh;
}
#contact-us .container-5 .contact-head h2{
	text-transform: capitalize;
	font-size: xx-large;
	text-align: center;
	margin: 100px auto 10px auto;
}
#contact-us .container-5 .contact-head p{
	width: 50%;
	text-align: center;
	margin: 20px auto 60px auto;
}
#contact-us .container-5 .contact-icons{
	display: flex;
	text-align: center;
	justify-content: space-evenly;
}
.fa-mobile{
	color:rgb(0, 0, 0);
	background-color:red;
}
#contact-us .container-5 .form{
	text-align: center;
}
#contact-us .container-5 .form input{
	width: 41%;
	padding: 10px;
	margin: 0px 10px 10px 10px;
}
#contact-us .container-5 .form .name{
	margin-top: 60px;
}
#contact-us .container-5 .form .subject{
	width: 86%;
}
#contact-us .container-5 .form .message{
	width: 85%;
	margin-top: 20px;
	padding: 10px 20px 60px 10px;
}
#contact-us .container-5 .form-btn{
	float: right;
	padding-right: 80px;
	padding-bottom: 100px;
}
#contact-us .container-5 .form-button{
	font-size: large;
	background-color: red;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}



/* footer section starts here */

#footer .container-6{
	background-color: black;
	color: white;
}
#footer .container-6 .icon-2{
 text-align: center;
 padding-left: 20px;
 padding-top: 50px;
 padding-bottom: 10px;
}
#footer .container-6 .auther{
	color: white;
	text-align: center;
}



@media (max-width:710px){
	.container{
		width: 86%;
		/* margin:0 auto; */
		display: flex;
		height: 100%;
	}
	.container-fluid .navbar{
		font-size: small;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		padding-top: 80px;
		/* padding-right: 100px; */
	}
	.container-fluid .navbar .listItems{
		font-size: small;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-decoration: none;
	}
	.container-fluid .navbar .listItems li a{
		font-size: large;
	}
	.container-fluid .homeContent h1{
		font-size: x-large;
		margin: auto 10px;
	}
	.container-fluid .homeContent .para{
		width: 100%;
	}
	.container-fluid .homeContent button{
		font-size: x-small;
	}
 
	/* 2nd section start hr */
   
	#about-sec .main .context .about-para{
	}
	#about-sec .main .context .about-para .fa-facebook{
		font-size: xx-large;
	}

	/* our services section start hr */
	#services-sec .title-content{
		font-size: small;
		width: 100%;
	}
	#services-sec .main-outer {
		font-size: small;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		
	}

		/* freelancing section start here */

	#freelancing .container-2 h2{
		font-size: larger;
	}
	#freelancing .btn-2{
		font-size: x-small;
	}

	/* client section start here */

	#client-sec{
		font-size: small;
	}
	#client-sec .client p{
		width: 70%;
	}
	#client-sec .para-2 p{
		width: 70%;
	}
}